 @charset "utf-8";
 
.card-header {
	padding-top: 12px;
}
.card {
	margin-left: 10px;
	margin-right: 10px;
}

.header{
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 60px;
	
	background-color: #262626;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

#form-horizontal {
	margin: 20px;
	
}

.alert-success {
	margin: 20px 10px
}

.link-panel-css{
	float: right;
	padding: 0px;	
	padding-top: 5px;
}

.titulo-panel-css{
	float: left;
	padding-top: 5px;	
	margin-bottom: -.2rem;
}

.badge-default {
	color: #F0F0F0;
	border-radius: .4rem;
    padding-top: .2rem;
    padding-bottom: .3rem;
}