<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="LayoutPadrao">

<head>
	<title>Cadastro de título</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" action="/titulos" th:object="${titulo}">


		<div id="form-horizontal">

			<div layout:insert="MensagemGeral"></div>
			<div layout:insert="MensagemErro"></div>

			<div class="card">
				
				<div class="card-header">
					<div class="clearfix">
		   				<h5 class="panel-title titulo-panel-css">Novo título</h5>
		   				<a class="btn btn-link link-panel-css" href="/titulos">Pesquisar títulos</a>
		   			</div>
				
				</div>

				<div class="card-body">
				
					<input type="hidden" th:field="*{codigo}">

					<div class="form-group row" >
						<label for="descricao" class="col-sm-2 col-form-label text-right">Descrição
							:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="descricao" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />
						</div>
					</div>

					<div class="form-group row" >
						<label for="dataVencimento"
							class="col-sm-2 col-form-label text-right" >Data de	Vencimento :</label>
						<div class="col-sm-2" >
							<input type="text" class="form-control" id="dataVencimento"
								th:field="*{dataVencimento}" th:classappend="${#fields.hasErrors('dataVencimento')} ? is-invalid"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="valor" class="col-sm-2 col-form-label text-right">Valor
							:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="valor" th:field="*{valor}"  th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />
						</div>
					</div>

					<div class="form-group row">
						<label for="valor" class="col-sm-2 col-form-label text-right">Status
							:</label>
						<div class="col-sm-2">
							<select class="custom-select" id="status" th:field="*{status}">
								<!-- ThymeLeaf  -->
								<option th:each="statusTitulo : ${todosStatusTitulo}"
									th:value="${statusTitulo}" th:text="${statusTitulo.descricao}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="offset-sm-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>

				</div>
			</div>

		</div>
	</form>


</section>

</html>