<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">

<head>
<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">


	<form class="form-horizontal" method="POST" action="/titulos">

		<div id="form-horizontal">

			<div class="card">

				<div class="card-header">
					<div class="clearfix">
						<h5 class="panel-title titulo-panel-css">Pesquida de títulos</h5>
						<a class="btn btn-link link-panel-css" href="/titulos/novo">Novo
							título</a>
					</div>
				</div>
				<div class="card-body">

					<table class="table table-striped table-bordered table-responsive-lg">
						<thead>
							<tr>
								<th scope="col" class="text-center">#</th>
								<th scope="col" class="text-center" style="width: 65%">Descrição</th>
								<th scope="col" class="text-center">Data de vencimento</th>
								<th scope="col" class="text-right" style="width: 10%">Valor</th>
								<th scope="col" class="text-center" style="width: 15%">Status</th>
								<th scope="col" class="text-center" style="width: 10%">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="titulo : ${titulos}">
								<td class="text-center" th:text="${titulo.codigo}">1</td>
								<td th:text="${titulo.descricao}"></td>
								<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
								<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
								<td class="text-center">
									<!-- <span class="label" th:text="${titulo.status.descricao}" th:classappend="${#strings.toString(titulo.status) == PENDENTE ? 'label-danger' : 'label-success'}"></span>  -->
									<span class="badge-default" th:text="${titulo.status.descricao}" th:classappend="${titulo.pendente ? 'bg-danger badge-pill' : ''} + 
									                                                                                 ${titulo.RecebidoComMulta ? 'bg-info badge-pill' : ''} + 
									                                                                                 ${titulo.recebido ? 'bg-success badge-pill' : ''}"></span>
								</td>
								<td class="text-center"></td>
							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
									título foi encontrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</form>

</section>

</html>