<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">

<head>
<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">	

		<div id="form-horizontal">

			<div class="card">

				<div class="card-header">
					<div class="clearfix">
						<h5 class="panel-title titulo-panel-css">Pesquida de títulos</h5>
						<a class="btn btn-link link-panel-css" th:href="@{/titulos/novo}">Novo
							título</a>
					</div>
				</div>
				<div class="card-body">
				
				<form method="GET" th:action="@{/titulos}" th:object="${filtro}">
		   			<div class="form-group row">
		   				<div class="col-sm-4">
		   					<div class="input-group-append">
		   						<input class="form-control" placeholder="Qual título você está procurando?"
		   							autofocus="autofocus" th:field="*{descricao}"></input>
		   						<span class="input-group-btn">
		   							<button type="submit" class="btn btn-default">
		   								<i class="fas fa-search"></i>
		   							</button>
		   						</span>
		   					</div>
		   				</div>
		   			</div>
	   			</form>

					<table class="table table-striped table-bordered table-responsive-lg">
						<thead>
							<tr>
								<th scope="col" class="text-center">#</th>
								<th scope="col" class="text-center" style="width: 65%">Descrição</th>
								<th scope="col" class="text-center">Data de vencimento</th>
								<th scope="col" class="text-right" style="width: 10%">Valor</th>
								<th scope="col" class="text-center" style="width: 15%">Status</th>
								<th scope="col" class="text-center" style="width: 10%">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="titulo : ${titulos}">
								<td class="text-center" th:text="${titulo.codigo}">1</td>
								<td th:text="${titulo.descricao}"></td>
								<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
								<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
								<td class="text-center" th:attr="data-role=${titulo.codigo}">
									<!-- <span class="label" th:text="${titulo.status.descricao}" th:classappend="${#strings.toString(titulo.status) == PENDENTE ? 'label-danger' : 'label-success'}"></span>  -->
									<span class="badge-default"  th:text="${titulo.status.descricao}" th:classappend="${titulo.pendente ? 'bg-danger badge-pill' : ''} + 
									                                                                                  ${titulo.RecebidoComMulta ? 'bg-info badge-pill' : ''} + 
									                                                                                  ${titulo.recebido ? 'bg-success badge-pill' : ''}"></span>
								</td>
								<td class="text-center">
   									<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
   									title="Editar" rel="tooltip" data-placement="top">
   										<span class="far fa-edit"></span>
   									</a>
   									
   									<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   									th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
	   									title="Excluir" rel="tooltip" data-placement="top">
   										<span class="far fa-times-circle"></span>
   									</a>
   									
   									<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
			   							title="Receber" rel="tooltip" data-placement="top" th:attr="data-codigo=${titulo.codigo}"
			   							th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
			   							<span class="far fa-check-square"></span>
			   						</a>
   							   </td>   							   
   							 
   							   
	   							   
							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
									título foi encontrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
				<div layout:insert="DialogoConfirmacaoExclusao"></div>
		</div>
		
	

</section>

</html>